body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 80px;
}

p {
  max-width: 800px;
  padding: 5px;
  margin: 1px;
}


#myName {
  color: blue;
  font-weight: bold;
}

.ParaContacts{
  font-size: 15px;
  padding: 1px;
  margin: 1px;
}

.ParaHead {
  font-size: 20px;
  padding: 1px;
  height: 5px;
}

.TaskDesc{
  font-style: italic;
  background: lightgray;
  max-width: 800px;
}

.CodeSample{
  font-size: 17px;
  /*background: lightgray;*/
}